doctype html
html
    head
        title Mushrooms
        meta(name='viewport', content='width=device-width, initial-scale=1')

        //w3 & JVectorMap
        link(rel='stylesheet', href='https://www.w3schools.com/w3css/4/w3.css')
        link(rel='stylesheet', href='/stylesheets/jquery-jvectormap-2.0.3.css')
        //bootstrap css
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")

        link(rel='stylesheet', href='/stylesheets/fonts.css')
        link(rel='stylesheet', href='/stylesheets/layout.css')
        link(rel='stylesheet', href='/stylesheets/correct.css')
        link(rel='stylesheet', href='/stylesheets/statistics.css')
        link(rel='stylesheet', href='/stylesheets/search.css')

        //JQuery & Cookie
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js')
        script(src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js")

        //bootstrap
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js", defer)

        //JVectorMap
        script(src='/javascripts/jquery-jvectormap-2.0.3.min.js')
        script(src='http://jvectormap.com/js/jquery-jvectormap-world-mill.js')

        script(src='/javascripts/functs.js')

    body
        block general