
.params_correct {
    width: 216px;
    margin: 2px 5px 2px 0px;
}

#openMap{
}

.correct-modal {
    width: 500px;
}

.mmmmm {
    margin: 0px 10px;
}

#adminList {
    cursor: pointer;
}

.admin_button {
    margin-top: 10px;
}

.admin__search_input{
    margin-top: 10px;
    background: rgba(0, 0, 1, 0.3);
    border: 1px solid white;
    padding: 15px 10px;

}

#openAdminSidebar {
    margin-top: -5px;
}

#userimg {
    width: 300px;
    margin-top: 10px;
}

