/*#mainWrapper{
    width: 50%;
}

.wrap{
    text-align: center;
}

#upWrap{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#query{
    width: 70%;
}

#bwr{
    padding-top: 15px;
}

.detButton{
    display: inline-block;
}
*/