#left {
    border: 2px solid gray;
    height: 100%;
}

#rightUp {
    border: 2px solid gray;
}

#rightDown {
    border: 2px solid gray;
}

#title{
    text-align: center;
    width: 100%;
}

#numbers{
    text-align: center;
    width: 100%;
}